*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background: linear-gradient(to right,rgb(133, 12, 181), rgb(42, 224, 215));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
main{
    display: flex;
    align-items: center;
}
.clock{
    background-color: rgb(244, 232, 232, 0.4);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}
.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    transform: rotate(var(--rotation));
}
.clock .number1{ --rotation: 30deg;}
.clock .number2{ --rotation: 60deg;}
.clock .number3{ --rotation: 90deg;}
.clock .number4{ --rotation: 120deg;}
.clock .number5{ --rotation: 150deg;}
.clock .number6{ --rotation: 180deg;}
.clock .number7{ --rotation: 210deg;}
.clock .number8{ --rotation: 240deg;}
.clock .number9{ --rotation: 270deg;}
.clock .number10{ --rotation: 300deg;}
.clock .number11{ --rotation: 330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform-origin: bottom;   /* ? pour que transforme fixe bottom */
    /* 
    /*  ? "translate(-50%)" Pour bien centré l'element visuellement.
    /* !   "rotate(calc(var(--rotation) * 1deg))" Pour calculer le degré de rotation plutard "JS"
    */
    transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}
/* le point de milieu */
.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
/* les aiguilles de l'horloge */
.clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: brown;
}
.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: black;
}.clock .hand.hour{
    width: 10px;
    height: 30%;
    background-color: black;
}


.rebour_stop{
    background-color: rgb(255, 249, 249, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 3%;
    margin-left: 30px
}
/* Le compte a rebours */

.compteRebour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.compteRebour h1{
    margin: 25px 0;
    font-size: 38px;
    font-weight: 500;
}
.compteRebour .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* disable if active */
.compteRebour .content.disable{
    opacity: 0.6;
    pointer-events: none;
}
.compteRebour .colRebour{
    border-radius: 7px;
    padding: 0 10px;
    border: 1px solid gainsboro;
    width: calc(100% / 3 - 5px);
}
.colRebour select{
    outline: none;
    border: none;
    height: 55px;
    width: 100%;
    font-size: 20px;
}
.compteRebour button{
    width: 60%;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background: linear-gradient(to left,rgb(93, 74, 217), rgb(220, 41, 41));
    margin: 20px 0;
    font-size: 20px;
    padding: 18px 0;
    border-radius: 7px;
}

.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;    
}
.stopwatch h1{
    font-size: 38px;
    font-weight: 500;
    white-space: break-spaces;
}
.buttonWatch{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}
.buttonWatch img{
    width: 30px;
    margin: 0 15px;
}
.buttonWatch img:nth-child(2){
    width: 50px;
}
.buttonWatch img:nth-child(2).disable{
    opacity: 0.6;
    pointer-events: none;

}

/******** @media */

@media screen and (max-width: 768px) {
    .clock{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 648px){
    main{
        flex-direction: column;
    }
    .clock{
        width: 250px;
        height: 250px;
    }
    .rebour_stop{
        margin: 15px 0 0 0;
    }
}